body {
  height: 2800px;
}

#rotator {
  font-size: 1080px;
  width: 1em;
  height: 1em;
  position: fixed;
  top: 0;
  right: 0;
  z-index: -1;
  background: transparent url(sprite-daisy_girl-total.jpg) no-repeat 0 0;
}

::-webkit-scrollbar {
  display: none;
}